body {
    background-color: #5F8FE7;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.home{
    /*border: solid 2px #000;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  
}
.logoPai {
    border-radius: 15px;
    background-color: #5F8FE7;
    display: flex;
    align-items: center;
    width: 100vw;      /* largura total da tela */
    height: 200px;
    padding: 0;        /* sem padding */
    margin: 0;         /* sem margem */
    position: relative;
}
.logoIfal {
    width: 120px;
    height: auto;
    position: absolute;
    left: 10;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.logo {
    width: 250px;
    height: auto;
    padding: 20px;
    border-radius: 100%;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.PaiButton{
    /*border: solid 2px #000;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    gap: 40px;
    width: 100%;
}