body{
    background-color: #5F8FE7;
}

.home{
    /*border: solid 2px #000;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  
}

.logoPai{
   /* border: solid 2px #000;*/
    border-radius: 15px;
    background-color: #5F8FE7;
    display: flex;
    flex-direction: row;
    gap: 152px;
    align-items: center;
    width: 75%;
    height: 300px;
    padding:15px ;
}

.logoIfal{
    /*border: solid 2px #000;*/
    display: flex;
    flex-direction: row;
    width: 170px;
    height: 190px;


}
.logo{
    /*border: solid 2px #000;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    /* object-fit: scale-down; */
    width: 250px;
    height: 250px;
    padding: 20px;

}

.PaiButton{
    /*border: solid 2px #000;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    gap: 40px;
    width: 100%;
}