body{
    background-color: #5F8FE7;
}

.home{
    /*border: solid 2px #000;*/
    display: flex;
    flex-direction: column;
    gap: 50px;
  
}

.logoPai{
   /* border: solid 2px #000;*/
    border-radius: 15px;
    background-color: rgba(245, 245, 245, 0.889);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    width: 100%;
    height: 300px;
}

.logo{
    /*border: solid 2px #000;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    width: 350px;
    height: 300px;
    padding: 20px;

}

.PaiButton{
    /*border: solid 2px #000;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    gap: 40px;
    width: 100%;
}