.btnTopVoltar{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

   
.btnVoltar{
 
    border-radius: 15px;
    display: flex;
   flex-direction: column;
    justify-content: center;
    font-size: 30px;
    width: 152px;
    height: 70px;
    background-color: #F7931E;
    color: white;
    font-family: 'inter';
    font-weight: 900;

}