.btnPai{
  /*  border: 2px solid #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

   
.btnProblema{
   /* border: 2px solid #000;*/
    border-radius: 15px;
    display: flex;
   flex-direction: column;
    justify-content: center;
    font-size: 30px;
    width: 292px;
    height: 70px;
    background-color: #F7931E;
    color: white;
    font-family: 'inter';
    font-weight: 900;

}